@charset "UTF-8";

@import "~reset-css/reset";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-decoration: none;
}

p {
  font: {
    size: 40px;
    family: helvetica, sans-serif;
  }
}
